default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: sample_development
  username: sample_username
  password: sample_password

test:
  <<: *default
  database: sample_test
  username: sample_username
  password: sample_password

production:
  <<: *default
  database: sample_production
  username: sample_username
  password: sample_password
