.event-divider {
  border-bottom: 1px solid #ddd;
}

.new-event {
  margin-top: 30px;
}

.form-group {
  width: 700px;

  textarea {
    height: 200px;
  }

  .invalid-feedback {
    color: #ff0000;
  }
}

.event_end_time,
.event_start_time {
  div {
    display: flex;
  }

  select {
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
  }
}
