p
  | #{t('devise.mailer.header.welcome')} #{@email}!
p= t('devise.mailer.confirmation_instructions.account')
p= link_to t('devise.mailer.confirmation_instructions.confirm_account'), confirmation_url(@resource, confirmation_token: @token)
