p
  | #{t('devise.mailer.header.welcome')} #{@resource.email}!
p= t('devise.mailer.unlock_instructions.notification')
p= t('devise.mailer.unlock_instructions.hint')
p= link_to t('devise.mailer.unlock_instructions.unlock_account'), unlock_url(@resource, unlock_token: @token)
